.overview {
    height: 1000px;
}

md-sidenav-container {
    height: 100%;
}

md-sidenav {
    height: 100%;
}

.main {
    padding: 1rem;
}

.suburb-service {
    display: flex;
    align-items: center;
}

.suburb-service md-icon {
    margin-left: 10px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.services .service {
    margin: 10px;
}
