.overview {
    height: 1000px;
}

md-sidenav-container {
    height: 100%;
}

md-sidenav {
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.split {
    display: flex;
    padding: 1rem;
}

.suburb-service {
    display: flex;
    align-items: center;
}

.suburb-service md-icon {
    margin-left: 10px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.services .service {
    margin: 5px;
    min-width: 120px;
}

.service .number {
    min-width: 35px;
}

.charts {
    height: 1000px;
}
