.overview {
    height: 1000px;
}

md-sidenav-container {
    height: 100%;
}

md-sidenav {
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.split {
    display: flex;
    padding: 1rem;
}

.suburb-service {
    display: flex;
    align-items: center;
}

.suburb-service md-icon {
    margin-left: 10px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.services .service {
    margin: 5px;
    min-width: 120px;
}

.service .label  {
    min-width: 100px;
}

.service .number {
    min-width: 35px;
}

.charts {
    height: 1000px;
}


.details {
    font-style: italic;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.details .span {
    margin-right: 15px;
}

.suburb-card {
    margin: 10px;
    position: relative;
    padding: 1rem;
    display: inline-block;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,.1);
}

h3 {
    margin-top: 0;
}

.suburb-card img {
    margin: 1rem;
    height: auto;
    width: 200px;
}
