<div id="map"></div>
<md-toolbar>HealthRank</md-toolbar>
<div class="overview">
    <md-sidenav-container class="example-sidenav-fab-container">
        <md-sidenav #sidenav mode="side" opened="true">
            <md-list>
                <md-list-item *ngFor="let hs of services">
                    <md-checkbox class="example-margin" [(ngModel)]="hs.active">
                        <span>{{ hs.name }}</span>
                    </md-checkbox>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div class="split">
            <div class="main">
                <div *ngFor="let s of suburbs">
                    <h3>{{ s.place_name }}</h3>
                    <div class="services">
                        <div class="service" *ngFor="let hs of services">
                            <div class="suburb-service" *ngIf="hs.active && s[hs.id] !== null && s[hs.id] !== undefined">
                                <span class="number">{{ s[hs.id].length }}<span *ngIf="s[hs.id].length === 60">+</span></span> {{hs.name}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </md-sidenav-container>
</div>

